@font-face {
  font-family: "Coaster";
  src: url("../fonts/Сoaster.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dopestyle";
  src: url("../fonts/Dopestyle.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Coaster", sans-serif;
}

.container {
  max-width: 1170px;
  width: 98%;
  margin: auto;
}
.section-title {
  text-align: center;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: 'Dopestyle', sans-serif;
  font-size: 155px;
  /* font-size: calc(24px + 131 * (100vw / 1980)); */
  font-weight: 400; 
  color: red;
}
.section-subtitle {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: red;
  font-size: 100px;
  /* font-size: calc(12px + 88 * (100vw / 1980)); */
}
.links-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  margin-top: 10px;
}
.text {
  text-align: center;
  display: block;
  padding-top: 10px;
  /* font-size: calc(13px + 37 * (100vw / 1980)); */
  font-size: 50px;
}
.item-image {
  max-width: 80px;
  /* max-width: calc(25px + 55 * (100vw / 1980)); */
  margin-right: 15px;
}
.imageSvg {
  max-width: 45px
}
.links-item {
  text-align: center;
  margin-bottom: 32px;
}
.item-link {
  /* font-size: calc(34px + 76 * (100vw / 1980)); */
  font-size: 110px;
  text-decoration: none;
  color: black;
  padding: 8px 20px 8px 20px;
  display: inline-block;
  border: 3px solid red;
  border-radius: 50px;
}
.puppy-text {
  display: flex;
  text-align: start;
  max-width: 408px;
  /* max-width: calc(200px + 208 * (100vw / 828)); */
  font-size: 32px;
  /* font-size: calc(15px + 17 * (100vw / 828)); */
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.puppу-block {
  text-align: center;
}
.puppy-image {
  /* max-width: 312px; */
  object-fit: cover;
}
@media (max-width: 800px) {
  .section-title {
    font-size: 15vw;
  }
  .section-subtitle {
    font-size: 10vw;
  }
  .text {
    font-size: 6vw;
  }
  .item-link {
    font-size: 10vw;
  }
  .item-image {
    max-width: 7vw;
    object-fit: cover;
  }
  .puppy-text {
    font-size: 4vw;
    max-width: 51vw;
  }
  .puppy-image {
    max-width: 300px;
    object-fit: cover;
  }
}
  
